.App {
  background-color: #282c34;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.headerbtns {
  background-color: #282c34;
  align-items: start;
  justify-content: start; 
}

.headerbtns button.ms-Button {
  height: 120px;
}

.headerbtns button.ms-Button:focus,
.headerbtns button.ms-Button:hover
 {
  background-color: red;
}

.inneriframebtns button.ms-Button:focus,
.inneriframebtns button.ms-Button:hover
 {
  background-color: red;
}

